    <!-- Article Page -->
    <div class="container">
        <div class="row">
    
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <h1 class="my-4">
                    <small></small>
                </h1>
                {% include "blog/_article_detail.html" %}
                {% include "blog/_comment.html" %}
            </div>
            {% include "blog/_sidebar.html" %}
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->