    <!-- Article Detail -->
    {% if article %}
    <div class="card mb-4">
        <div class="card-header text-muted">
        <h2 class="card-title text-dark text-center">{{ article.title }}</h2>
        <!-- article info -->
        <div class="text-center">
            <!-- data -->
            <span>
                <img style="margin-bottom: 5px" src="../../static/blog/icons/date.png" alt="发布日期" title="发布日期">
                <span >{{ article.date }} &nbsp;&nbsp;</span>
            </span>
            <span>
                <img style="margin-bottom: 5px" src="../../static/blog/icons/author.png" alt="作者" title="作者">
                <span ><a href="{{ url_for('profile', username=article.author) }}">{{ article.author }}</a> &nbsp;&nbsp;</span>
            </span>
            <span>
                <img style="margin-bottom: 2px" src="../../static/blog/icons/cate.png" alt="分类" title="分类">
                <span><a class="badge badge-secondary" href="#">{{ article.cateName }}</a> &nbsp;&nbsp;</span>
            </span>
            <span>
                <img style="margin-bottom: 2px" src="../../static/blog/icons/tag.png" alt="标签" title="标签">
                {% for tagName in article.tagNames %}
                {% if loop.index%3 == 1 %}
                <span><a class="badge badge-primary" href="#">{{ tagName }}</a> </span>
                {% elif loop.index%3 == 2 %}
                <span><a class="badge badge-info" href="#">{{ tagName }}</a> </span>
                {% elif loop.index%3 == 0 %}
                <span><a class="badge badge-success" href="#">{{ tagName }}</a> </span>
                {% endif %}
                {% endfor %}
                <!-- <span><a class="badge badge-info" href="#">shell</a> </span>
                <span></span><a class="badge badge-success" href="#">test</a> </span> -->
            &nbsp;&nbsp;
            </span>
            <span>
            <img style="margin-bottom: 5px" src="../../static/blog/icons/reading.png" alt="阅读数" title="阅读数">
            <span class="text-primary">{{ article.views }}</span>
            </span>

        </div>
        </div>
        <div class="card-body">
        <!-- 文章主体内容(暂定html格式) -->
        <p class="card-text">
            {% autoescape false %}
            {{ article.text }}
            {% endautoescape %}
        </p>
        <!-- 文章主体结束 -->
        </div>
    </div>
    {% endif %}