    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <h1 class="my-4">
            <small></small>
        </h1>
        <!-- Blog Post -->
        <div class="card mb-4">
            
            <div class="card-body">
            <h2 class="card-title">CentOS7上基于LAMP搭建typecho博客</h2>
            <p class="card-text">这里Linux选择的是CentOS7 64位，使用KVM虚拟机安装的CentOS7进行演示， 安装过程使用yum， yum源是安装好CentOS7之后自带的，也可以选择epel源，163源等，在安装MySQL时需要先安装MySQL源（后面会说到），过程中需要联网安装并且需要root权限。准备好这些，主要的就是后三者的安装和使用了。[root@centos7 ~]# systemctl enable httpd</p>
            <a href="#" class="btn btn-primary">阅读全部 &rarr;</a>
            </div>
            <div class="card-footer text-muted">
            发布时间：2019-02-15 &nbsp;&nbsp;
        作者：<a href="#">lonisletend</a> &nbsp;&nbsp;
        分类：<span class="badge badge-secondary">Linux</span> &nbsp;&nbsp;
            阅读数： <span class="text-primary">1213</span>
            </div>
        </div>

        <!-- Blog Post -->
        <div class="card mb-4">
            
            <div class="card-body">
            <h2 class="card-title">CentOS7上基于LAMP搭建typecho博客</h2>
            <p class="card-text">这里Linux选择的是CentOS7 64位，使用KVM虚拟机安装的CentOS7进行演示， 安装过程使用yum， yum源是安装好CentOS7之后自带的，也可以选择epel源，163源等，在安装MySQL时需要先安装MySQL源（后面会说到），过程中需要联网安装并且需要root权限。准备好这些，主要的就是后三者的安装和使用了。[root@centos7 ~]# systemctl enable httpd</p>
            <a href="#" class="btn btn-primary">阅读全部 &rarr;</a>
            </div>
            <div class="card-footer text-muted">
            发布时间：2019-02-15 &nbsp;&nbsp;
        作者：<a href="#">lonisletend</a> &nbsp;&nbsp;
        分类：<span class="badge badge-secondary">Linux</span> &nbsp;&nbsp;
            阅读数： <span class="text-primary">1213</span>
            </div>
        </div>

        <!-- Blog Post -->
        <div class="card mb-4">
            
            <div class="card-body">
            <h2 class="card-title">CentOS7上基于LAMP搭建typecho博客</h2>
            <p class="card-text">这里Linux选择的是CentOS7 64位，使用KVM虚拟机安装的CentOS7进行演示， 安装过程使用yum， yum源是安装好CentOS7之后自带的，也可以选择epel源，163源等，在安装MySQL时需要先安装MySQL源（后面会说到），过程中需要联网安装并且需要root权限。准备好这些，主要的就是后三者的安装和使用了。[root@centos7 ~]# systemctl enable httpd</p>
            <a href="#" class="btn btn-primary">阅读全部 &rarr;</a>
            </div>
            <div class="card-footer text-muted">
            发布时间：2019-02-15 &nbsp;&nbsp;
        作者：<a href="#">lonisletend</a> &nbsp;&nbsp;
        分类：<span class="badge badge-secondary">Linux</span> &nbsp;&nbsp;
            阅读数： <span class="text-primary">1213</span>
            </div>
        </div>

        <!-- Blog Post -->
        <div class="card mb-4">
            
            <div class="card-body">
            <h2 class="card-title">CentOS7上基于LAMP搭建typecho博客</h2>
            <p class="card-text">这里Linux选择的是CentOS7 64位，使用KVM虚拟机安装的CentOS7进行演示， 安装过程使用yum， yum源是安装好CentOS7之后自带的，也可以选择epel源，163源等，在安装MySQL时需要先安装MySQL源（后面会说到），过程中需要联网安装并且需要root权限。准备好这些，主要的就是后三者的安装和使用了。[root@centos7 ~]# systemctl enable httpd</p>
            <a href="#" class="btn btn-primary">阅读全部 &rarr;</a>
            </div>
            <div class="card-footer text-muted">
            发布时间：2019-02-15 &nbsp;&nbsp;
        作者：<a href="#">lonisletend</a> &nbsp;&nbsp;
        分类：<span class="badge badge-secondary">Linux</span> &nbsp;&nbsp;
            阅读数： <span class="text-primary">1213</span>
            </div>
        </div>

        <!-- Blog Post -->
        <div class="card mb-4">
            
            <div class="card-body">
            <h2 class="card-title">Post Title</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
            Posted on January 1, 2017 by
            <a href="#">Start Bootstrap</a>
            </div>
        </div>

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            <li class="page-item  disabled">
            <a class="page-link" href="#">&larr; 上一页</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="#">下一页 &rarr;</a>
            </li>
        </ul>

    </div>