    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <h1 class="my-4">
            <small></small>
        </h1>
        <!-- Blog Post -->

        {% if articleList %}
            {% for article in articleList %}
            <div class="card mb-4">
                <div class="card-body">
                <a href="{{ url_for('article', artid=article.id) }}"><h2 class="card-title">{{ article.title }}</h2></a>
                <p class="card-text">
                        {% autoescape false %}
                        {{ article.text }}
                        {% endautoescape %}
                </p>
                <a href="{{ url_for('article', artid=article.id) }}" class="btn btn-primary">阅读全部 &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    发布时间：{{ article.date }} &nbsp;&nbsp;
                    作者：<a href="{{ url_for('profile', username=article.author) }}">{{ article.author }}</a> &nbsp;&nbsp;
                    分类：<span class="badge badge-secondary">{{ article.cateName }}</span> &nbsp;&nbsp;
                    阅读数： <span class="text-primary">{{ article.views }}</span>
                </div>
            </div>
            {% endfor %}
        {% endif %}

        


        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            <li class="page-item  disabled">
            <a class="page-link" href="#">&larr; 上一页</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="#">下一页 &rarr;</a>
            </li>
        </ul>

    </div>