    <!-- login modal start -->
    <!-- 登录窗口 -->
    <div id="login" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title">
                    <h1 class="text-center">登录</h1>
                </div>
                <div class="modal-body">
                    <form id="loginForm" class="form-group">
                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                        <div class="form-group">
                            {{ loginForm.username.label }}
                            {{ loginForm.username(class="form-control", id="username0") }}
                            <!-- <label for="">用户名</label> -->
                            <!-- <input class="form-control" type="text" placeholder=""> -->
                        </div>
                        <div class="form-group">
                            {{ loginForm.password.label }}
                            {{ loginForm.password(class="form-control", id="password0") }}
                            <!-- <label for="">密码</label> -->
                            <!-- <input class="form-control" type="password" placeholder=""> -->
                        </div>
                        <div id="lcomplain" class="alert alert-warning" style="display: none;">
                            <!-- 用户名或密码为空 -->
                        </div>
                        <div id="lsuccess" class="alert alert-success" style="display: none;">
                            <!-- 登录成功 -->
                        </div>
                        <div id="lfail" class="alert alert-danger" style="display: none;">
                            <strong>登录失败：</strong>
                        </div>
                        <div class="text-right text-inline">
                            <button id="loginbtn" type="button" class="btn btn-primary">登录</button>
                            <button class="btn btn-danger" data-dismiss="modal">取消</button>
                        </div>
                        <!-- <a href="" data-toggle="modal" data-dismiss="modal" data-target="#register">还没有账号？点我注册</a> -->
                        <a id="toReg" href="" data-toggle="modal" data-dismiss="modal">还没有账号？点我注册</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- login modal end -->