<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a id="blog-name" class="navbar-brand" href="{{url_for('index')}}"></a>
      {% if blog_name %}
      <a id="blog-name" class="navbar-brand" href="{{url_for('index')}}">{{ blog_name }}</a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" 
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% if activeId and activeId==0 %}
          <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('index') }}">首页
              </a>
            </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">首页
              </a>
            </li>
          {% endif %}


          {% if cates %}
          {% for navItem in cates %}
          {% if activeId and activeId==navItem.id %}
          <li class="nav-item">
            <a id="nav-item-{{ navItem.id }}" class="nav-link active" href="{{ url_for('category', catename=navItem.name) }}">{{ navItem.name }}</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a id="nav-item-{{ navItem.id }}" class="nav-link" href="{{ url_for('category', catename=navItem.name) }}">{{ navItem.name }}</a>
          </li>
          {% endif %}
          {% endfor %}
          {% endif %}
              
          <li class="nav-item">
                  <a class="nav-link" href="#">关于</a>
                </li>
          <li>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </li>
    
                    
          {% if current_user.is_authenticated %}
          <!--已登录时显示用户名下拉菜单和头像-->
          <li class="nav-item dropdown">
              <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" 
              aria-haspopup="true" aria-expanded="false">
              {{ current_user.username }}
              </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
              <a class="dropdown-item" href="{{ url_for('profile', username=current_user.username) }}">个人信息</a>
              <!-- <a class="dropdown-item" href="#">我的评论</a> -->
              {% if current_user.role == "admin" %}
              <a class="dropdown-item" href="{{ url_for('admin_index') }}">博客管理</a>
              {% endif %}
              <a class="dropdown-item" id="logoutbtn" href="">退出登录</a>
            </div>
          </li>
          <li>
            <img class="rounded-circle" src="{{ current_user.avatar(45) }}" 
              alt="user" width="45" height="45">
          </li>
          {% else %}
          <!--未登录时显示注册登录按钮-->
          <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#register" class="btn btn-sm btn-outline-secondary my-2">注册</a>&nbsp;&nbsp;
          <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#login" class="btn btn-sm btn-outline-secondary my-2">登录</a>&nbsp;&nbsp;
          {% endif %}
      </div>
    </div>
  </nav>