    <!-- register modal start -->
    <!-- 注册窗口 -->
    <div id="register" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title">
                    <h1 class="text-center">注册</h1>
                </div> 
                <div class="modal-body">
                    <form id="registrationForm" class="form-group">
                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                        <div class="form-group">
                            <label for="username">用户名</label>
                            <input class="form-control" id="username1" name="username" placeholder="6-15位字母、数字、下划线" size="32" type="text" value="">
                        </div>
                        <div class="form-group">
                            <label for="email">邮箱</label>
                            <input class="form-control" id="email" name="email" placeholder="例如:example@gmail.com" size="64" type="text" value="">
                        </div>
                        <div class="form-group">
                            <label for="password">密码</label>
                            <input class="form-control" id="password1" name="password" placeholder="至少8位字母、数字、下划线" size="32" type="password" value="">
                        </div>
                        <div class="form-group">
                            <label for="password2">再次输入密码</label>
                            <input class="form-control" id="password2" name="password2" placeholder="至少8位字母、数字、下划线" size="32" type="password" value="">
                        </div>
                        <div id="rcomplain" class="alert alert-danger" style="display: none;">
                            <!-- 用户名或密码为空 -->
                        </div>
                        <div id="rsuccess" class="alert alert-success" style="display: none;">
                            <!-- 登录成功 -->
                        </div>
                        <div id="rfail" class="alert alert-danger" style="display: none;">
                            <strong>注册失败：</strong>
                        </div>
                        <div class="text-right">
                            <button id="regbtn" type="button" class="btn btn-primary">提交</button>
                            <button class="btn btn-danger" data-dismiss="modal">取消</button>
                        </div>
                        <a id="toLogin" onclick="toLogin()" href="" data-toggle="modal" data-dismiss="modal">已有账号？点我登录</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- register modal end -->