    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
            <h5 class="card-header">全局搜索</h5>
            <div class="card-body">
            <div class="input-group">
                <!-- <form id="search-form"> -->
                    {% if q %}
                    <input id="search-text" name="search-text" type="text" class="form-control" value="{{ q }}">
                    {% else %}
                    <input id="search-text" name="search-text" type="text" class="form-control" placeholder="输入关键字">
                    {% endif %}
                    <span class="input-group-btn">
                    <button id="search-btn" class="btn btn-secondary" type="button">搜索</button>
                    </span>
                <!-- </form> -->
            </div>
            </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
            <h5 class="card-header">所有分类</h5>
            <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    {% if cates %}
                    <ul class="list-unstyled mb-0">
                        {% for cate in cates %}
                        {% if loop.index%2==1 %}
                        <li>
                        <a href="{{ url_for('category', catename=cate.name) }}">{{ cate.name }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        
                    </ul>
                    </div>
                    <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        {% for cate in cates %}
                        {% if loop.index%2==0 %}
                        <li>
                        <a href="{{ url_for('category', catename=cate.name) }}">{{ cate.name }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            </div>
        </div>

        <!-- 词云模块 与文章对应 仅在文章详情页显示 -->
        {% if article %}
        <div class="card my-4">
            <h5 class="card-header">词云</h5>
            <div class="card-body">
                {% autoescape false %}
                <span id="cloudStr" style="display:none;">{{ article.cloud }}</span>
                {% endautoescape %}
                <div id="cloud"></div>
            </div>
        </div>
        {% endif %}

        <div class="card my-4">
            <h5 class="card-header">音乐</h5>
            <div class="card-body">
                <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=310 height=86 src="//music.163.com/outchain/player?type=2&id=482141126&auto=0&height=66"></iframe>
            </div>
        </div>

    </div>