{% extends "/blog/base.html" %}

{% block content %}
    <!-- 文章明细主体页面 包括文章头,信息,主体,评论,右侧部件 -->
    {% include "blog/_article_page.html" %}
    <!-- 注册模态框 -->
    {% include "blog/_register.html" %}
    <!-- 登录模态框 -->
    {% include "blog/_login.html" %}
{% endblock %}

{% block tailscript %}
  <!-- 注册登录模态框相互跳转使用js防止出现滚动条隐藏模态框抖动 -->
  <script src="../../static/blog/js/modal_redirect.js"></script>
  <script>
      $(document).ready(function(){
        $('#lcomplain').hide();
        $('#lsuccess').hide();
        $('#lfail').hide();
        $('#rcomplain').hide();
        $('#rsuccess').hide();
        $('#rfail').hide();

      });
  </script>
  <script src="../../static/blog/js/login_register.js"></script>
  <script src="../../static/blog/js/article_comment.js"></script>

  <!-- <script>
      function isEmpty(obj){
          if(obj==undefined || obj==null || obj==''){
              return true;
          }
          return false;
      }

      $("#com-sub").click(function(){
          comment = $("#comment").val();
          if(isEmpty(comment)){
              $.notify({
                  title: "错误:",
                  message: "评论不能为空！"
              },{
                  type: 'danger'
              });
              $("#comment").focus();
              return false;
          }
          if(/<script/.test(comment)){
            $.notify({
                  title: "错误:",
                  message: "请勿输入特殊标签！"
              },{
                  type: 'danger'
              });
              $("#comment").focus();
              return false;
          }

          $.ajax({
            url: '/add_comment',
            data: $('#com-form').serialize(),
            type: 'POST',
            success: function(res){
              if(res.status == true){
                location.reload();
              } else {
                $.notify({
                    title: "错误:",
                    message: res.msg
                },{
                    type: 'danger'
                });
              }
            }
          });

      });
  </script> -->

{% endblock %}