<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if title %}
    <title>{{ title }}-SmartBlog</title>
    {% else %}
    <title>SmartBlog</title>
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="../../static/blog/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/blog/css/blog-home.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/blog/css/message.css">
    {% block headcss %}{% endblock %}

  </head>

  <body>
    
    {% include "blog/_navigation.html" %}

    {% block content %}{% endblock %}

    {% include "blog/_footer.html" %}

    <!-- Bootstrap core JavaScript -->
    <script src="../../static/blog/jquery/jquery.min.js"></script>
    <script src="../../static/blog/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/blog/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/admin/tagify/tagify.js"></script>
    <script src="../../static/admin/tagify/jQuery.tagify.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js'></script>
    <script src="../../static/admin/js/plugins/bootstrap-notify.min.js"></script>
    <!-- 最后加载自定义js -->
    {% block tailscript %}{% endblock %}
    
  </body>

</html>
