<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - SmartBlog</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/blog/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/blog/css/blog-home.css" rel="stylesheet">

  </head>

  <body>
    
    {% include "blog/_navigation.html" %}
    {% block content %}{% endblock %}
    {% include "blog/_footer.html" %}

    <!-- Bootstrap core JavaScript -->
    <script src="../../static/blog/jquery/jquery.min.js"></script>
    <script src="../../static/blog/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- 先加载jQuery，再加载自定义js -->
    {% block tailscript %}{% endblock %}
  </body>

</html>
