{% extends "blog/base.html" %}

{% block headcss %}{% endblock %}

{% block content %}

  <!-- 主体页面 包括文章索引,分页,右侧部件 -->
  {% include "blog/_page.html" %}
  <!-- 注册模态框 -->
  {% include "blog/_register.html" %}
  <!-- 登录模态框 -->
  {% include "blog/_login.html" %}

{% endblock %}

{% block tailscript %}
  <!-- 注册登录模态框相互跳转使用js防止出现滚动条隐藏模态框抖动 -->
  <script src="../../static/blog/js/modal_redirect.js"></script>
  <script>
    $(document).ready(function(){
      $('#lcomplain').hide();
      $('#lsuccess').hide();
      $('#lfail').hide();
      $('#rcomplain').hide();
      $('#rsuccess').hide();
      $('#rfail').hide();

    });
  </script>
  <script src="../../static/blog/js/login_register.js"></script>
{% endblock %}