{% extends "blog/base.html" %}

{% block headcss %}{% endblock %}

{% block content %}

  <!-- 主体页面 包括文章索引,分页,右侧部件 -->
  {% include "blog/_page.html" %}
  <!-- 注册模态框 -->
  {% include "blog/_register.html" %}
  <!-- 登录模态框 -->
  {% include "blog/_login.html" %}

{% endblock %}

{% block tailscript %}
  <!-- 注册登录模态框相互跳转使用js防止出现滚动条隐藏模态框抖动 -->
  <script src="../../static/blog/js/modal_redirect.js"></script>
  <script src="../../static/blog/js/login_register.js"></script>
  <!-- <script src="../../static//blog/js/search.js"></script> -->

  <script src="../../static/plugins/editor/lib/marked.min.js"></script>
  <script src="../../static/plugins/editor/lib/prettify.min.js"></script>
  <script src="../../static/plugins/editor/lib/raphael.min.js"></script>
  <script src="../../static/plugins/editor/lib/underscore.min.js"></script>
  <script src="../../static/plugins/editor/lib/sequence-diagram.min.js"></script>
  <script src="../../static/plugins/editor/lib/flowchart.min.js"></script>
  <script src="../../static/plugins/editor/lib/jquery.flowchart.min.js"></script>

  <script src="../../static/plugins/editor/js/editormd.js"></script>

  <script>
    function isEmpty(obj){
      if(obj==undefined || obj==null || obj==''){
        return true;
      }
      return false;
    }

    $("#search-btn").click(function(){
      search();
    })

    function search(){
      stext = $.trim($("#search-text").val());
      if (isEmpty(stext)){
        $("#search-text").val('');
        $("#search-text").attr("placeholder","输入关键字");
        $("#search-text").focus();
        return false;
      }
      window.location.href = "/search?q="+stext;
    }

  </script>

<script type="text/javascript">
  $(function() {

    $("div[id^='article-index']").each(function(){
      var testEditormdView;
      testEditormdView = editormd.markdownToHTML($(this).attr('id'), {
          htmlDecode      : "style,script,iframe",
          emoji           : true,
          taskList        : true,
          tex             : true,  // 默认不解析
          flowChart       : true,  // 默认不解析
          sequenceDiagram : true,  // 默认不解析
      });
    })
  });
</script>

{% endblock %}