{% extends "blog/base.html" %}

{% block headcss %}
<link rel="stylesheet" href="../../static/blog/css/article.css">
{% endblock %}

{% block content %}

  <!-- 主体页面 包括文章索引,分页,右侧部件 -->
  {% include "blog/_page.html" %}
  <!-- 注册模态框 -->
  {% include "blog/_register.html" %}
  <!-- 登录模态框 -->
  {% include "blog/_login.html" %}

{% endblock %}

{% block tailscript %}
  <!-- 注册登录模态框相互跳转使用js防止出现滚动条隐藏模态框抖动 -->
  <script src="../../static/blog/js/modal_redirect.js"></script>
  <script src="../../static/blog/js/login_register.js"></script>
  <!-- <script src="../../static//blog/js/search.js"></script> -->

  <script src="../../static/blog/js/mditor.js"></script>

  <script>
    function isEmpty(obj){
      if(obj==undefined || obj==null || obj==''){
        return true;
      }
      return false;
    }

    $("#search-btn").click(function(){
      search();
    })

    function search(){
      stext = $.trim($("#search-text").val());
      if (isEmpty(stext)){
        $("#search-text").val('');
        $("#search-text").attr("placeholder","输入关键字");
        $("#search-text").focus();
        return false;
      }
      window.location.href = "/search?q="+stext;
    }

  </script>
<script>
  $(function() {
    $("textarea[id^='article-index']").each(function () {
      var editor_index = new mditor(document.getElementById($(this).attr('id')));
      var select = '#'+$(this).attr('id')+'-detail';
      // alert(select);
      $(select).html(editor_index.getHtml());
      
    })
  });

</script>

{% endblock %}