{% extends "blog/base.html" %}

{% block headcss %}

{% endblock %}

{% block content %}
  <!-- 注册模态框 -->
  {% include "blog/_register.html" %}
  <!-- 登录模态框 -->
  {% include "blog/_login.html" %}

<div class="container" style="height:800px;"><hr>
    <div class="row my-2">
				{% if auth == True %}
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">基本信息</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#comments" data-toggle="tab" class="nav-link">最近评论</a>
                </li>
                {% if current_user == user %}
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">信息修改</a>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <!-- <h5 class="mb-3">User Profile</h5> -->
                    <div class="row">
                        <div class="col-md-12">
                            <form>
								<div class="form-group row">
								  <label class="col-sm-2 col-form-label"><strong>用户名:</strong></label>
								  <div class="col-sm-8">
									<input type="text" readonly class="form-control-plaintext" value="{{ user.username }}">
								  </div>
								</div>
								<div class="form-group row">
								  <label class="col-sm-2 col-form-label"><strong>邮箱：</strong></label>
								  <div class="col-sm-8">
									<input type="password" readonly class="form-control-plaintext" placeholder="{{ user.email }}">
								  </div>
								</div>
								<div class="form-group row">
									<label class="col-sm-2 col-form-label"><strong>简介：</strong></label>
									<div class="col-sm-8">
										<textarea class="form-control" rows="3" readonly>{{ user.about_me }}</textarea>
									</div>
								  </div>
								  <div class="form-group row">
									<label class="col-sm-2 col-form-label"><strong>注册时间：</strong></label>
									<div class="col-sm-8">
									  <input type="password" readonly class="form-control-plaintext" placeholder="{{ user.created.strftime("%Y-%m-%d %H:%M:%S") }}">
									</div>
								  </div>
								  <div class="form-group row">
									<label class="col-sm-2 col-form-label"><strong>上次登录：</strong></label>
									<div class="col-sm-8">
									  <input type="password" readonly class="form-control-plaintext" placeholder="{{ user.logged.strftime("%Y-%m-%d %H:%M:%S") }}">
									</div>
								  </div>
								  <div class="form-group row">
									<label class="col-sm-2 col-form-label"><strong>用户组：</strong></label>
									<div class="col-sm-8">
									  {% if user.role == "vistor" %}
									  <input type="password" readonly class="form-control-plaintext" placeholder="普通用户">
									  {% elif user.role == "admin" %}
									  <input type="password" readonly class="form-control-plaintext" placeholder="管理员">
									  {% endif %}
									</div>
								  </div>
							  						</form>
                        </div>

                    </div>
                    <!--/row-->
                </div>
                <div class="tab-pane" id="comments">
                    <!-- <div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a> This is an <strong>.alert</strong>. Use this to show important comments to the user.
                    </div> -->
                    <table class="table table-hover table-striped">
                        <tbody> 
                          {% if comments %}                                   
                            {% for comment in comments %}
                            <tr>
                                <!-- <td>
                                   <span class="float-right font-weight-bold"><a href="{{ url_for('article', artid=comment.art_id) }}">查看文章</a></span> {{ comment.text }}
																</td> -->
																<td>
																		{{ comment.text }}
																 </td>
																 <td>
																		<span class="float-right font-weight-bold" style="width: 65px;">
																			<a href="{{ url_for('article', artid=comment.art_id) }}">查看文章</a>
																		</span>
																 </td>
                            </tr>
                            {% endfor %}
                          {% endif %}
                        </tbody> 
                    </table>
                </div>
                {% if current_user == user %}
                <div class="tab-pane" id="edit">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <form id="edit-form">
								<h5 class="mb-3">密码修改</h5>
								<!-- <div class="form-group row">
								  <label class="col-sm-2 col-form-label"><strong>原密码:</strong></label>
								  <div class="col-sm-8">
									<input type="password" class="form-control" value="">
								  </div>
								</div> -->
								<div class="form-group row">
								  <label class="col-sm-2 col-form-label"><strong>新密码：</strong></label>
								  <div class="col-sm-8">
									<input id="epassword" name="epassword" type="password" class="form-control" placeholder="">
								  </div>
								</div>
								<div class="form-group row">
									<label class="col-sm-2 col-form-label"><strong>确认新密码：</strong></label>
									<div class="col-sm-8">
										<input id="epassword2" name="epassword2" type="password" class="form-control" placeholder="">
									</div>
								</div>
								<h5 class="mb-3">简介修改</h5>
								<div class="form-group row">
									<label class="col-sm-2 col-form-label"><strong>简介：</strong></label>
									<div class="col-sm-8">
										<textarea id="about-me" name="about-me" class="form-control" rows="3" >{{ user.about_me }}</textarea>
									</div>
								</div>
								<button id="edit-sub" type="submit" class="btn btn-primary float-right" style="margin-right:120px;">提交</button>
							  						</form>
                        </div>
					</div>

                </div>
                {% endif %}
            </div>
				</div>
				{% elif auth == False %}
				<div class="col-lg-8 order-lg-2">
					登录后才能查看用户信息哦:)
				</div>
				{% endif %}
				
        <div class="col-lg-4 order-lg-1 text-center d-none d-sm-block">
            <img src="{{ user.avatar(150) }}" class="mx-auto img-fluid img-circle d-block" alt="avatar">
            <h6 class="mt-2">{{ user.username }}</h6>
        </div>
    </div>
</div>


{% endblock %}

{% block tailscript %}
  <!-- 注册登录模态框相互跳转使用js防止出现滚动条隐藏模态框抖动 -->
  <script src="../../static/blog/js/modal_redirect.js"></script>
  <script>
    $(document).ready(function(){
      $('#lcomplain').hide();
      $('#lsuccess').hide();
      $('#lfail').hide();
      $('#rcomplain').hide();
      $('#rsuccess').hide();
      $('#rfail').hide();

    });
  </script>
	<script src="../../static/blog/js/login_register.js"></script>
	<script>

		function isEmpty(obj){
			if(obj==undefined || obj==null || obj==''){
				return true;
			}
			return false;
		}

		$('#edit-sub').click(function(){
			epassword = $('#epassword').val();
			epassword2 = $('#epassword2').val();
			aboutMe = $('#about-me').val();

			//不修改密码
			if(isEmpty(epassword) && isEmpty(epassword2)){
				if(isEmpty(aboutMe)){
					//全部为空，提示
						$.notify({
							title: "错误:",
							message: "请填写修改的密码或简介！"
					},{
							type: 'danger'
					});
					return false;
				}
			} else{
				//修改密码
				if(epassword != epassword2){
					$.notify({
							title: "错误:",
							message: "两次密码不一致！"
					},{
							type: 'danger'
					});
					return false;
				}
			}
			$.ajax({
          url: '/edit_profile',
          data: $('#edit-form').serialize(),
          type: 'POST',
          success: function(res){
						// alert(res.status);
						if(res.status==true){
							$.notify({
									message: "信息修改成功！"
							},{
									type: 'success'
							});
						}
						return true;
            
          },
          error: function(error){
						console.log(error);
						return false;
          }
        })
			
		});
	</script>
{% endblock %}