{% extends "admin/base.html" %}

<!-- 自定义CSS -->
{% block headcss %}
<link rel="stylesheet" href="../../static/admin/tagify/tagify.css">
<link rel="stylesheet" href="../../static/admin/css/prism.min.css"> 
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.min.css">  -->
{% endblock %} 

{% block appmenu %}
<ul class="app-menu">
        <li><a class="app-menu__item" href="{{ url_for('admin_index') }}"><i class="app-menu__icon fa fa-home"></i><span class="app-menu__label">首页</span></a></li>
        <li><a class="app-menu__item" href="{{ url_for('admin_new') }}"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">新建文章</span></a></li>
        <li class="treeview is-expanded"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-tasks"></i><span class="app-menu__label">博客管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item active" href="{{ url_for('article_manage') }}"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;文章管理</a></li>
                <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;评论管理</a></li>
                <li><a class="treeview-item" href="{{ url_for('category_manage') }}"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;分类管理</a></li>
                <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;标签管理</a></li>
                <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;用户管理</a></li>
            </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">数据分析</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Form Components</a></li>
                <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Custom Components</a></li>
                <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Form Samples</a></li>
                <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Form Notifications</a></li>
            </ul>
        </li>
        <li><a class="app-menu__item" href="charts.html"><i class="app-menu__icon fa fa-cog"></i><span class="app-menu__label">基础设置</span></a></li>
    
    
    </ul>
{% endblock %} {% block content %}
<main class="app-content">
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <!-- <h3 class="tile-title"></h3> -->
                <legend>编辑文章</legend>
                {% if article %}
                <form id="editForm">
                    <input id="id", name="id" type="hidden" value="{{ article.id }}">
                    <div class="form-group">
                        <label for="title" class="col-form-label col-form-label-lg">标题</label>
                        <input id="title" name="title" class="form-control form-control-lg" type="text" placeholder="请输入文章标题" value="{{ article.title }}">
                    </div>

                    <div class="form-group">
                        <label for="text" class="col-form-label col-form-label-lg">正文</label>
                        <textarea id="text" name="text" class="form-control" rows="15">{{ article.text }}</textarea>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="category" class="col-form-label col-form-label-lg">分类</label>
                            <select id="category" name="category" class="form-control col-lg-10">
                              <option value="">请选择分类</option>  
                              {% if cates %}
                                {% for cate in cates %}
                                {% if article.cateName == cate.name %}
                                <option value="{{ cate.id }}" selected>{{ cate.name }}</option>
                                {% else %}
                                <option value="{{ cate.id }}">{{ cate.name }}</option>
                                {% endif %}
                                {% endfor %}
                              {% endif %}
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="tags" class="col-form-label col-form-label-lg">标签</label>
                            <input id="tags" name='tags' class='form-control col-lg-10' placeholder='输入标签并回车' value='{{ article.tagStr }}'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <fieldset class="form-group">
                                <label for="is_topping" class="col-form-label col-form-label-lg">优先级</label>

                                {% if article.isTopping == 1 %}
                                <div class="animated-radio-button">
                                        <label>
                                        <input id="is_topping" type="radio" name="is_topping" value="0"><span class="label-text">普通</span>
                                        </label>
                                    </div>
                                    <div class="animated-radio-button">
                                        <label>
                                        <input id="is_topping" type="radio" name="is_topping" value="1" checked><span class="label-text">置顶</span>
                                        </label>
                                    </div>
                                {% else %}
                                <div class="animated-radio-button">
                                        <label>
                                        <input id="is_topping" type="radio" name="is_topping" value="0" checked><span class="label-text">普通</span>
                                        </label>
                                    </div>
                                    <div class="animated-radio-button">
                                        <label>
                                        <input id="is_topping" type="radio" name="is_topping" value="1"><span class="label-text">置顶</span>
                                        </label>
                                    </div>
                                {% endif %}
                            </fieldset>

                        </div>
                        <div class="form-group col-lg-6">
                            <fieldset class="form-group">
                                <label for="status" class="col-form-label col-form-label-lg">公开度</label>

                                {% if article.status == 0 %}
                                <div class="animated-radio-button">
                                        <label>
                                        <input id="status" type="radio" name="status" value="1"><span class="label-text">公开</span>
                                        </label>
                                    </div>
                                    <div class="animated-radio-button">
                                        <label>
                                        <input id="status" type="radio" name="status" value="0" checked><span class="label-text">隐藏</span>
                                        </label>
                                    </div>
                                {% else %}
                                <div class="animated-radio-button">
                                        <label>
                                        <input id="status" type="radio" name="status" value="1" checked><span class="label-text">公开</span>
                                        </label>
                                    </div>
                                    <div class="animated-radio-button">
                                        <label>
                                        <input id="status" type="radio" name="status" value="0"><span class="label-text">隐藏</span>
                                        </label>
                                    </div>
                                {% endif %}
                                
                                
                            </fieldset>
                        </div>
                    </div>
                    <div class="text-right">
                        <button id="draft" class="btn btn-secondary" type="button">保存草稿</button>
                        <button id="publish" class="btn btn-primary" type="button">发布文章</button>

                    </div>

                </form>
                {% endif %}
            </div>
        </div>

    </div>
</main>
{% endblock %}

<!-- Page specific javascripts-->
{% block pagescript %}
<script src="../../static/admin/tagify/tagify.js"></script>
<script src="../../static/admin/tagify/jQuery.tagify.min.js"></script>
<script src='../../static/admin/js/prism.min.js'></script>
<script src="../../static/blog/jquery/jquery.min.js"></script>
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js'></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<script src="../../static/admin/js/plugins/bootstrap-notify.min.js"></script>

{% endblock %}

<!-- 最后加载自定义js -->
{% block tailscript %}
<script>
    var input = document.querySelector('input[name=tags]'),
        // init Tagify script on the above inputs
        tagify = new Tagify(input, {
            whitelist: ["C++", "Java", "Linux", "Modal"],
            blacklist: [] // <-- passed as an attribute in this demo
        });

    // "remove all tags" button event listener
    document.querySelector('.tags--removeAllBtn')
        .addEventListener('click', tagify.removeAllTags.bind(tagify))

    // Chainable event listeners
    tagify.on('add', onAddTag)
        .on('remove', onRemoveTag)
        .on('input', onInput)
        .on('edit', onTagEdit)
        .on('invalid', onInvalidTag)
        .on('click', onTagClick);

    // tag added callback
    function onAddTag(e) {
        console.log("onAddTag: ", e.detail);
        console.log("original input value: ", input.value)
        tagify.off('add', onAddTag) // exmaple of removing a custom Tagify event
    }

    // tag remvoed callback
    function onRemoveTag(e) {
        console.log(e.detail);
        console.log("tagify instance value:", tagify.value)
    }

    // on character(s) added/removed (user is typing/deleting)
    function onInput(e) {
        console.log(e.detail);
        console.log("onInput: ", e.detail);
    }

    function onTagEdit(e) {
        console.log("onTagEdit: ", e.detail);
    }

    // invalid tag added callback
    function onInvalidTag(e) {
        console.log("onInvalidTag: ", e.detail);
    }

    // invalid tag added callback
    function onTagClick(e) {
        console.log(e.detail);
        console.log("onTagClick: ", e.detail);
    }
</script>

<script>
    function isEmpty(obj){
      if(obj==undefined || obj==null || obj==''){
        return true;
      }
      return false;
    };

    $('#publish').click(function(){
        id = $("#id").val();
        title = $("#title").val();
        text = $("#text").val();
        category = $("#category").val();
        tag = $("#tags").val();
        isTopping = $("#is_topping").val();
        status = $("#status").val();
        posturl = "/article_edit/" + id;

        console.log(posturl);

        if(isEmpty(title)){
            $.notify({
                title: "错误:",
                message: "标题不能为空！"
            },{
                type: 'danger'
            });
            $("#title").focus();
            return false;
        }

        if(isEmpty(text)){
            $.notify({
                title: "错误:",
                message: "正文不能为空！"
            },{
                type: 'danger'
            });
            $("#text").focus();
            return false;
        }

        if(isEmpty(category)){
            $.notify({
                title: "错误:",
                message: "文章必须选择一个分类！"
            },{
                type: 'danger'
            });
            $("#category").focus();
            return false;
        }

        if(isEmpty(tag)){
            $.notify({
                title: "错误:",
                message: "请至少选择或添加一个标签！"
            },{
                type: 'danger'
            });
            $("#tag").focus();
            return false;
        }

        console.log($("#category").val());
        console.log($("#tag").val())
        
        $.ajax({
          url: posturl,
          data: $('#editForm').serialize(),
          type: 'POST',
          success: function(res){
            //console.log(response);
            if(res.status == true){
                $.notify({
                    message: res.msg,
                    url: '../article/'+res.artid,
                    target: "_self"
                },{
                    type: 'success'
                });
            }else{
                $.notify({
                    title: "错误:",
                    message: res.msg
                },{
                    type: 'danger'
                });
            }
          },
          error: function(error){
            console.log(error);
          }
        })

    });




</script>
{% endblock %}