{% extends "admin/base.html" %}

<!-- 自定义CSS -->
{% block headcss %}
<link rel="stylesheet" href="../../static/admin/tagify/tagify.css">
<link rel="stylesheet" href="../../static/admin/css/prism.min.css"> 
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.min.css">  -->
{% endblock %} 

{% block appmenu %}
<ul class="app-menu">
    <li><a class="app-menu__item" href="{{ url_for('admin_index') }}"><i class="app-menu__icon fa fa-home"></i><span class="app-menu__label">首页</span></a></li>
    <li><a class="app-menu__item" href="{{ url_for('admin_new') }}"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">新建文章</span></a></li>
    <li class="treeview is-expanded"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-tasks"></i><span class="app-menu__label">博客管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>
        <ul class="treeview-menu">
            <li><a class="treeview-item" href="{{ url_for('article_manage') }}"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;文章管理</a></li>
            <li><a class="treeview-item active" href="{{ url_for('comment_manage') }}"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;评论管理</a></li>
            <li><a class="treeview-item" href="{{ url_for('category_manage') }}"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;分类管理</a></li>
            <!-- <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;标签管理</a></li> -->
            <li><a class="treeview-item" href="{{ url_for('user_manage') }}"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;用户管理</a></li>
        </ul>
    </li>
    <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">数据分析</span><i class="treeview-indicator fa fa-angle-right"></i></a>
        <ul class="treeview-menu">
            <li><a class="treeview-item" href="{{ url_for('records') }}"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;最近访问</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;访问统计</a></li>            
        </ul>
    </li>
    <li><a class="app-menu__item" href="{{ url_for('admin_option') }}"><i class="app-menu__icon fa fa-cog"></i><span class="app-menu__label">基础设置</span></a></li>


</ul>
{% endblock %} {% block content %}
<main class="app-content">
    <div class="row" id="art-panel">
        <div class="col-md-12">
            <div class="tile">
                <!-- <h3 class="tile-title"></h3> -->
                <legend>评论管理</legend>
                <div class="tile">
                    <h3 class="tile-title">所有文章</h3>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>日期</th>
                          <th>作者</th>
                          <th>标题</th>
                          <th>分类</th>
                          <!-- <th>标签</th> -->
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if articleList %}
                        {% for article in articleList %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ article.date }}</td>
                            <td><a href="{{ url_for('profile', username=article.author) }}">{{ article.author }}</a></td>
                            <td><a href="{{ url_for('article', artid=article.id) }}">{{ article.title }}</a></td>
                            <td>
                              <!-- <span class="badge badge-secondary">{{ article['cateName'] }}</span>   -->
                              <span><a class="badge badge-secondary" href="#">{{ article.cateName }}</a> </span>                        
                            </td>
                            <th>
                                <a id="{{ article.id }}" class="comment" href="#">查看评论</a>&nbsp;&nbsp;
                                <!-- <a id="{{ article.id }}" style="color: #FF534D" class="delete" href="javascript:void(0)">删除</a> -->
                            </th>
                          </tr>
                        {% endfor %}
                        {% endif %}
                      </tbody>
                    </table>
                </div>

                <form id="del-form">
                    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                    <input type="hidden" name="artid" id="artid">
                </form>

                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    {% if prev_url %}
                    <li class="page-item">
                    <a class="page-link" href="{{ prev_url }}">&larr; 上一页</a>
                    </li>
                    {% endif %}
                    {% if next_url %}
                    <li class="page-item">
                    <a class="page-link" href="{{ next_url }}">下一页 &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>
    <div class="row" id="cmt-panel" style="display: none;">
        <div class="col-md-12">
            <div class="tile">
                
                <legend>评论管理</legend>
                <div class="tile">
                    <h4 class="tile-title"><span id="cmt-title"></span><button id="back-btn" class="btn btn-warning float-right" type="button" >返回</button></h4>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>日期</th>
                          <th>评论人</th>
                          <th>评论内容</th>
                          <th>操作</th>
                          <!-- <th>标签</th> -->
                          <!-- <th>操作</th> -->
                        </tr>
                      </thead>
                      <tbody id="tbody">
                        
                      </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}

<!-- Page specific javascripts-->
{% block pagescript %}
<script src="../../static/admin/js/plugins/sweetalert.min.js"></script>
{% endblock %}

<!-- 最后加载自定义js -->
{% block tailscript %}
<script>
    $(".comment").click(function(){
        var title = $(this).parent().parent().find('td').eq(3).html().trim();
        $("#cmt-title").html('文章"'+ title +'"的所有评论：');
        var article_id = $(this).attr('id');
        cmt_url = "/comment/"+article_id;
        $.ajax({
            url: cmt_url,
            type: 'GET',
            success: function(res){
                if(res.status == true){
                    // console.log(typeof(res.data));
                    // console.log(res.data);
                    var comments = JSON.parse(res.data);
                    // console.log(typeof(comments));
                    // console.log(comments);

                    if(comments.length == 0){
                        str = "<tr><td align='center' colspan='5'>"+
                              "<strong style='color: #F17C67'>文章暂无评论</strong>"+
                              "</td></tr>";
                        $("#tbody").append(str);
                    }else{
                        for(i=0; i<comments.length; i++){
                        // console.log(comments[i]);
                        // console.log("==================");
                        // console.log(typeof(comments[i]));
                        // console.log("==================");
                            comment = JSON.parse(comments[i]);
                            str = "<tr>"+
                                "<td>"+ (i+1) +"</td>"+
                                "<td>"+ comment.created +"</td>" +
                                "<td>"+ comment.username +"</td>" +
                                "<td style='color: #028090; max-width:500px;'>"+ comment.text +"</td>" +
                                "<td><a id='"+ comment.id +"' style='color: #FF534D' class='delcmt' href='javascript:void(0)'><strong>删除</strong></a></td>"+
                                "</tr>";
                            $("#tbody").append(str);
                        }
                    }

                    
                    
                }else{
                    console.log(res.msg);
                }
            },
            error: function(error){
                console.log(error);
            }
        });
        $("#art-panel").hide();
        $("#cmt-panel").show();

    });
    $("#back-btn").click(function(){
        $("#art-panel").show();
        $("#cmt-panel").hide();
        $("#tbody").html('');
    });
</script>
<script>
    $('.delcmt').click(function(){
        cmt_id = $(this).attr('id');
        delurl = "/delcmt/"+cmt_id;

        swal({
      		title: "确定删除所选评论吗?",
      		text: "删除后数据不可恢复!",
      		type: "warning",
      		showCancelButton: true,
      		confirmButtonText: "是，确认删除!",
      		cancelButtonText: "不, 手抖了!",
      		closeOnConfirm: false,
      		closeOnCancel: false
      	}, function(isConfirm) {
      		if (isConfirm) {
        
                $.ajax({
                url: delurl,
                type: 'GET',
                success: function(res){
                    if(res.status == true){
                        swal({title: "删除成功!", text: "已删除所选评论", type: "success"},
                            function(){ 
                                location.reload();
                            }
                        );
                    }else{
                        swal("删除失败！", res.msg, "error");
                    }
                },
                error: function(error){
                    console.log(error);
                }
                });
                
      		} else {
      			swal("取消删除", "删除操作已取消", "error");
      		}
      	});

    });
</script>
{% endblock %}