{% extends "admin/base.html" %}

{% block appmenu %}
<ul class="app-menu">
        <li><a class="app-menu__item active" href=""><i class="app-menu__icon fa fa-home"></i><span class="app-menu__label">首页</span></a></li>
        <li><a class="app-menu__item" href="{{ url_for('admin_new') }}"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">新建文章</span></a></li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-tasks"></i><span class="app-menu__label">博客管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="{{ url_for('article_manage') }}"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;文章管理</a></li>
            <li><a class="treeview-item" href="{{ url_for('comment_manage') }}"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;评论管理</a></li>
            <li><a class="treeview-item" href="{{ url_for('category_manage') }}"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;分类管理</a></li>
            <!-- <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;标签管理</a></li> -->
            <li><a class="treeview-item" href="{{ url_for('user_manage') }}"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;用户管理</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">数据分析</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="{{ url_for('records') }}"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;最近访问</a></li>
            <li><a class="treeview-item" href="{{ url_for('records_statistic') }}"><i class="icon fa fa-circle-o"></i> &nbsp;&nbsp;访问统计</a></li>
            <!-- <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Form Components</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Custom Components</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Form Samples</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Form Notifications</a></li> -->
          </ul>
        </li>
        <li><a class="app-menu__item" href="{{ url_for('admin_option') }}"><i class="app-menu__icon fa fa-cog"></i><span class="app-menu__label">基础设置</span></a></li>
        <li><a class="app-menu__item" href="{{ url_for('editor') }}"><i class="app-menu__icon fa fa-cog"></i><span class="app-menu__label">editor-test</span></a></li>
        
        
      </ul>
{% endblock %}

{% block content %}

<main class="app-content">
  <div class="row">
      <div class="col-md-12">
          <div class="tile">
              <!-- <h3 class="tile-title"></h3> -->
              <legend>网站概要</legend>
              <form id="newForm">
                  <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                  <div class="form-group">
                      <label for="title" class="col-form-label col-form-label-lg">目前共有：</label>
                      {% if size %}
                      <div style="margin-left:40px;">
                        <text style="font-size: 48px; width: 200px; color: #5BC0EB">{{ size.article }}</text><strong style="font-size: 24px;">篇文章；</strong>
                        <text style="font-size: 48px; width: 200px; color: #FDE74C"">{{ size.comment }}</text><strong style="font-size: 24px;">个评论；</strong>
                        <text style="font-size: 48px; width: 200px; color: #9BC53D"">{{ size.category }}</text><strong style="font-size: 24px;">个分类；</strong>
                        <text style="font-size: 48px; width: 200px; color: #E55934"">{{ size.tag }}</text><strong style="font-size: 24px;">个标签；</strong>
                        <text style="font-size: 48px; width: 200px; color: #FA7921"">{{ size.user }}</text><strong style="font-size: 24px;">个用户；</strong>
                      </div>
                      {% endif %}
                  </div>
              </form>
              <!-- <button id="jsonTest" class="btn btn-success btn-sm" type="button" style="margin-top:-15px;">Json Test</button>
              <button id="getMark" class="btn btn-success btn-sm" type="button" style="margin-top:-15px;">getMark</button> -->
          </div>
      </div>

  </div>
</main>

{% endblock %}

<!-- Page specific javascripts-->
{% block pagescript %}
<script src="../../static/blog/jquery/jquery.min.js"></script>
<script src="../../static/admin/js/plugins/bootstrap-notify.min.js"></script>

{% endblock %}

{% block tailscript %}

<!-- <script>
  $('#jsonTest').click(function(){
    $.ajax({
      url: '/jsonTest',
      type: 'GET',
      success: function(res){
          //console.log(response);
          if(res.status == true){
              alert(res.items);
              console.log(res.items);
          }else{
              alert('test failed');
          }
      },
      error: function(error){
          console.log(error);
      }
      });
  });

</script>
<script>
  $('#getMark').click(function(){
    $.ajax({
      url: '/getmark',
      type: 'GET',
      success: function(res){
          //console.log(response);
          if(res.status == true){
            $.notify({
                message: res.msg
            },{
                type: 'success'
            });
          }else{
            $.notify({
                // title: "错误:",
                message: res.msg
            },{
                type: 'danger'
            });
          }
      },
      error: function(error){
          console.log(error);
      }
      });
  });
</script> -->

{% endblock %}